<a href="https://colab.research.google.com/github/Oscar6647/SpaceApps-2022-Ometeotl/blob/DataScience/Pred_Ometeotl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Prediccion LLuvia

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
cd "/content/gdrive/MyDrive/SpaceApps"

/content/gdrive/MyDrive/SpaceApps

In [ ]:
df = pd.read_csv("Database_TempMTY.csv")

In [ ]:
df.head()

   Mes  Dia  Anio  Lluvia   Tprom  Tmax  Tmin  Unidades de Calor  Evaporacion
0   11    1  1997      0.0   27.0  35.0  19.0              15.77         8.79
1   11    2  1997      0.0   21.0  25.0  17.0              11.00         6.57
2   11    3  1997      0.0   20.5  25.0  16.0              10.50         3.36
3   11    4  1997      0.0   21.0  26.0  16.0              11.00         4.65
4   11    5  1997      0.0   23.5  32.0  15.0              13.21         6.43

In [ ]:
print(" {:<20} {:<10} {:<5} {:<5} {:<17}".format('COLUMNA', 'TIPO DATO', 'NULOS', '#NULL', 'VALORES DISTINTOS'))
print('--------------------------------------------------------------')

for column in df.columns:
    print("|{:<20}|{:<10}|{:<5}|{:<5}|{:<17}|".format(column[:20], str(df[column].dtypes), 
                                               df[column].isnull().any(), df[column].isnull().sum(), 
                                                      df[column].value_counts().count()))

 COLUMNA              TIPO DATO  NULOS #NULL VALORES DISTINTOS
--------------------------------------------------------------
|Mes                 |int64     |0    |0    |12               |
|Dia                 |int64     |0    |0    |31               |
|Anio                |int64     |0    |0    |19               |
|Lluvia              |float64   |1    |1257 |296              |
|Tprom               |float64   |1    |1005 |139              |
|Tmax                |float64   |1    |1002 |92               |
|Tmin                |float64   |1    |1001 |63               |
|Unidades de Calor   |float64   |1    |1005 |689              |
|Evaporacion         |float64   |1    |1511 |1173             |

In [ ]:
df.isnull().sum()

Mes                     0
Dia                     0
Anio                    0
Lluvia               1257
Tprom                1005
Tmax                 1002
Tmin                 1001
Unidades de Calor    1005
Evaporacion          1511
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

Mes                  0
Dia                  0
Anio                 0
Lluvia               0
Tprom                0
Tmax                 0
Tmin                 0
Unidades de Calor    0
Evaporacion          0
dtype: int64

In [ ]:
df.head()

   Mes  Dia  Anio  Lluvia   Tprom  Tmax  Tmin  Unidades de Calor  Evaporacion
0   11    1  1997      0.0   27.0  35.0  19.0              15.77         8.79
1   11    2  1997      0.0   21.0  25.0  17.0              11.00         6.57
2   11    3  1997      0.0   20.5  25.0  16.0              10.50         3.36
3   11    4  1997      0.0   21.0  26.0  16.0              11.00         4.65
4   11    5  1997      0.0   23.5  32.0  15.0              13.21         6.43

In [ ]:
df.columns

Index(['Mes', 'Dia', 'Anio', 'Lluvia ', 'Tprom', 'Tmax', 'Tmin',
       'Unidades de Calor', 'Evaporacion'],
      dtype='object')

In [ ]:

df = df.rename(columns={"Lluvia ":'LLuvia'})

In [ ]:
df['LLuvia'].unique()

array([0.000e+00, 2.350e+01, 3.000e-01, 1.800e+01, 2.000e+00, 8.000e-01,
       2.200e+01, 4.000e+00, 5.000e-01, 3.600e+01, 3.000e+00, 5.700e+00,
       1.350e+01, 2.050e+01, 6.600e+00, 1.500e+00, 6.000e-01, 1.250e+01,
       1.000e-01, 4.500e+00, 4.000e-01, 1.000e+00, 2.450e+01, 2.500e+00,
       6.500e+00, 2.300e+00, 7.000e+00, 1.800e+00, 3.700e+00, 2.600e+00,
       6.200e+01, 1.200e+01, 8.000e+00, 4.360e+01, 3.600e+00, 3.500e+00,
       1.300e+00, 1.700e+01, 6.000e+00, 7.700e+00, 4.340e+01, 2.000e-01,
       3.100e+00, 1.060e+01, 5.200e+00, 8.500e+01, 8.500e+00, 6.800e+01,
       1.200e+00, 1.000e+01, 5.500e+00, 7.500e+00, 2.400e+00, 2.250e+01,
       5.000e+00, 2.700e+00, 2.100e+01, 6.300e+00, 2.550e+01, 1.600e+01,
       2.600e+01, 6.100e+00, 5.600e+01, 5.100e+01, 3.000e+01, 3.400e+01,
       4.950e+01, 1.600e+00, 7.450e+01, 4.550e+01, 7.100e+00, 1.780e+01,
       4.600e+00, 6.100e+01, 2.400e+01, 3.800e+01, 2.270e+01, 6.700e+01,
       2.700e+01, 5.940e+01, 3.300e+01, 4.650e+01, 9.000e+00, 1.300e+01,
       7.650e+01, 1.570e+01, 7.300e+01, 2.800e+00, 3.220e+01, 2.900e+00,
       2.790e+01, 3.650e+01, 3.040e+01, 3.850e+01, 1.700e+00, 2.500e+01,
       1.500e+01, 7.300e+00, 3.240e+01, 2.460e+01, 1.650e+01, 1.050e+01,
       2.000e+01, 4.200e+00, 4.100e+00, 2.200e+00, 1.400e+00, 4.300e+00,
       3.200e+00, 1.120e+01, 2.650e+01, 8.300e+00, 1.020e+02, 4.500e+01,
       1.680e+01, 1.360e+01, 8.700e+00, 4.000e+01, 1.010e+02, 1.430e+01,
       4.400e+01, 5.050e+01, 3.800e+00, 2.110e+01, 3.400e+00, 1.160e+01,
       9.000e-01, 6.400e+00, 6.200e+00, 4.700e+00, 1.030e+01, 6.700e+00,
       1.080e+01, 5.100e+00, 1.900e+00, 2.800e+01, 2.850e+01, 5.900e+00,
       4.800e+00, 8.100e+00, 4.300e+01, 4.980e+01, 5.360e+01, 6.600e+01,
       5.600e+00, 6.800e+00, 2.100e+00, 7.800e+00, 9.500e+00, 2.910e+01,
       1.450e+01, 5.800e+01, 5.160e+01, 1.330e+01, 4.400e+00, 5.800e+00,
       3.900e+01, 1.470e+01, 8.800e+01, 1.520e+01, 7.200e+01, 6.040e+01,
       1.260e+01, 1.070e+01, 5.400e+00, 1.100e+00, 1.170e+01, 1.390e+01,
       3.060e+01, 7.600e+00, 4.380e+01, 1.990e+01, 1.140e+01, 1.550e+01,
       4.480e+01, 8.360e+01, 4.280e+01, 2.480e+01, 3.500e+01, 6.660e+01,
       2.420e+01, 6.900e+00, 2.900e+01, 5.300e+00, 3.900e+00, 9.300e+00,
       1.040e+01, 1.090e+01, 2.630e+01, 9.800e+00, 2.180e+01, 3.300e+00,
       2.530e+01, 1.270e+01, 6.110e+01, 3.790e+01, 9.400e+00, 2.830e+01,
       1.150e+01, 1.100e+01, 1.980e+01, 7.950e+01, 2.490e+01, 1.510e+01,
       2.890e+01, 8.900e+00, 4.170e+01, 3.080e+01, 1.940e+01, 1.560e+01,
       4.690e+01, 3.100e+01, 6.430e+01, 9.100e+00, 7.000e-01, 1.380e+01,
       4.740e+01, 7.000e+01, 1.361e+02, 1.790e+01, 8.600e+00, 4.900e+00,
       1.020e+01, 8.400e+00, 2.070e+01, 9.200e+00, 4.880e+01, 4.710e+01,
       2.710e+01, 7.050e+01, 2.960e+01, 7.500e-01, 2.780e+01, 1.340e+01,
       2.380e+01, 2.260e+01, 3.390e+01, 1.890e+01, 1.950e+01, 1.590e+01,
       1.320e+01, 1.840e+01, 4.180e+01, 1.194e+02, 4.890e+01, 3.110e+01,
       4.940e+01, 1.690e+01, 2.220e+01, 8.800e+00, 1.580e+01, 3.700e+01,
       3.430e+01, 1.220e+01, 2.330e+01, 5.240e+01, 1.320e+02, 1.180e+01,
       4.990e+01, 1.620e+01, 2.020e+01, 3.580e+01, 9.900e+00, 1.460e+01,
       1.710e+01, 2.150e+01, 3.940e+01, 1.610e+01, 1.760e+01, 1.830e+01,
       2.990e+01, 1.230e+01, 7.900e+00, 3.840e+01, 3.460e+01, 5.060e+01,
       2.030e+01, 1.660e+01])

In [ ]:
df = df.assign(PredLluvia=2)
df.head()

,Mes,Dia,Anio,Lluvia,Tprom,Tmax,Tmin,Unidades de Calor,Evaporacion,PredLluvia
0,11,1,1997,0.0,27.0,35.0,19.0,15.77,8.79,2
1,11,2,1997,0.0,21.0,25.0,17.0,11.00,6.57,2
2,11,3,1997,0.0,20.5,25.0,16.0,10.50,3.36,2
3,11,4,1997,0.0,21.0,26.0,16.0,11.00,4.65,2
4,11,5,1997,0.0,23.5,32.0,15.0,13.21,6.43,2

In [ ]:
df['LLuvia'].max()

136.1

In [ ]:
df.loc[df.LLuvia<5,'PredLluvia']=1
df.loc[df.LLuvia==0,'PredLluvia']=0

In [ ]:
df.tail()

,Mes,Dia,Anio,LLuvia,Tprom,Tmax,Tmin,Unidades de Calor,Evaporacion,PredLluvia
6630,12,27,2015,0.0,18.00,21.0,15.0,8.00,3.44,0
6631,12,28,2015,0.0,13.75,19.5,8.0,4.11,1.66,0
6632,12,29,2015,0.0,14.00,19.0,9.0,4.14,3.15,0
6633,12,30,2015,0.0,15.00,21.0,9.0,5.12,1.06,0
6634,12,31,2015,3.2,13.50,15.0,12.0,3.50,0.11,1

In [ ]:
df['PredLluvia'].unique()

array([0, 2, 1])

In [ ]:
df.corr()

,Mes,Dia,Anio,LLuvia,Tprom,Tmax,Tmin,Unidades de Calor,Evaporacion,PredLluvia
Mes,1.000000,0.004401,-0.023104,0.066698,0.094852,0.038150,0.153826,0.099383,-0.073736,0.045153
Dia,0.004401,1.000000,0.008892,-0.026830,0.031696,0.036571,0.022388,0.027197,0.010142,-0.034116
Anio,-0.023104,0.008892,1.000000,-0.004473,0.045393,0.065563,0.016002,0.038437,-0.041058,0.023630
LLuvia,0.066698,-0.026830,-0.004473,1.000000,0.009636,-0.056928,0.089680,0.024398,-0.108284,0.630357
Tprom,0.094852,0.031696,0.045393,0.009636,1.000000,0.960855,0.941353,0.990012,0.696853,-0.099241
Tmax,0.038150,0.036571,0.065563,-0.056928,0.960855,1.000000,0.811020,0.943435,0.726318,-0.206088
Tmin,0.153826,0.022388,0.016002,0.089680,0.941353,0.811020,1.000000,0.941477,0.586876,0.041441
Unidades de Calor,0.099383,0.027197,0.038437,0.024398,0.990012,0.943435,0.941477,1.000000,0.665482,-0.083255
Evaporacion,-0.073736,0.010142,-0.041058,-0.108284,0.696853,0.726318,0.586876,0.665482,1.000000,-0.253879
PredLluvia,0.045153,-0.034116,0.023630,0.630357,-0.099241,-0.206088,0.041441,-0.083255,-0.253879,1.000000

In [ ]:
df = df.drop("LLuvia", axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, plot_confusion_matrix, classification_report, precision_score

In [ ]:
X = df.drop("PredLluvia",axis=1)
y = df["PredLluvia"]

In [ ]:
X.shape

(4947, 8)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
dt = DecisionTreeClassifier()  
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

In [ ]:
accuracy = accuracy_score(
            y_true    = y_test, 
            y_pred    = y_pred, 
            normalize = True)
print(f"Modelo DecisionTreeClassifier")
print("")
print(f"Test size: 0.2")
print("")
print(f"El accuracy test del modelo DecisionTreeClassifier: {100*accuracy}%")

precision = precision_score(
            y_true    = y_test,
            y_pred    = y_pred,
            average = "micro"
           )
print("")
print(f"El test de precisón es de: {100*precision}%")
print("")
cf = confusion_matrix(
            y_true    = y_test,
            y_pred    = y_pred,
            normalize = "true")
sensitivityTP = cf[0,0]/(cf[0,0]+cf[0,1])
print('Sensitividad',sensitivityTP)
specificity = cf[1,1]/(cf[1,0]+cf[1,1])
print("")
print('Especificidad',specificity)

Modelo DecisionTreeClassifier

Test size: 0.2

El accuracy test del modelo DecisionTreeClassifier: 73.13131313131314%

El test de precisón es de: 73.13131313131314%

Sensitividad 0.9075067024128687

Especificidad 0.368421052631579

In [ ]:
dt = RandomForestClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

In [ ]:
accuracy = accuracy_score(
            y_true    = y_test, 
            y_pred    = y_pred, 
            normalize = True)
print(f"Modelo RandomForestClassifier")
print("")
print(f"Test size: 0.2")
print("")
print(f"El accuracy test del modelo RandomForestClassifier: {100*accuracy}%")

precision = precision_score(
            y_true    = y_test,
            y_pred    = y_pred,
            average = "micro"
           )
print("")
print(f"El test de precisón es de: {100*precision}%")
print("")
cf = confusion_matrix(
            y_true    = y_test,
            y_pred    = y_pred,
            normalize = "true")
sensitivityTP = cf[0,0]/(cf[0,0]+cf[0,1])
print('Sensitividad',sensitivityTP)
specificity = cf[1,1]/(cf[1,0]+cf[1,1])
print("")
print('Especificidad',specificity)

Modelo RandomForestClassifier

Test size: 0.2

El accuracy test del modelo RandomForestClassifier: 81.31313131313132%

El test de precisón es de: 81.31313131313132%

Sensitividad 0.9819819819819819

Especificidad 0.2571428571428571

In [ ]:
y_pred.size

990

In [ ]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0,
       0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

## CONTAMINANTES EN MONTERREY

In [ ]:
cd "/content/gdrive/MyDrive/SpaceApps/Ambiente"

/content/gdrive/MyDrive/SpaceApps/Ambiente

In [ ]:
data = pd.read_csv("ContAMM.csv")

In [ ]:
data.head()

    AÑO LOCALIDAD  PM10  PM2.5    SO2    CO      O3    NO2
0  2000       AMM    81    NaN   D.I.  1.53  0.0826  0.031
1  2001       AMM   106    NaN  0.012  1.35  0.0758  0.033
2  2002       AMM   110    NaN   D.I.  1.48  0.0816   D.I.
3  2003       AMM   107    NaN   D.I.  2.06  0.0949   D.I.
4  2004       AMM   109   29.0  0.008  2.68  0.0934  0.027

In [ ]:
data.columns

Index(['AÑO', 'LOCALIDAD', 'PM10', 'PM2.5', 'SO2', 'CO', 'O3', 'NO2'], dtype='object')

In [ ]:
data = data.drop(['LOCALIDAD',"AÑO"], axis=1)

In [ ]:
data.head()

   PM10  PM2.5    SO2    CO      O3    NO2
0    81    NaN   D.I.  1.53  0.0826  0.031
1   106    NaN  0.012  1.35  0.0758  0.033
2   110    NaN   D.I.  1.48  0.0816   D.I.
3   107    NaN   D.I.  2.06  0.0949   D.I.
4   109   29.0  0.008  2.68  0.0934  0.027

In [ ]:
data = data.assign(PredDanger=0)
data.head()

   PM10  PM2.5    SO2    CO      O3    NO2  PredDanger
0    81    NaN   D.I.  1.53  0.0826  0.031           0
1   106    NaN  0.012  1.35  0.0758  0.033           0
2   110    NaN   D.I.  1.48  0.0816   D.I.           0
3   107    NaN   D.I.  2.06  0.0949   D.I.           0
4   109   29.0  0.008  2.68  0.0934  0.027           0

In [ ]:
data['PM2.5'].fillna(27, inplace = True)
data.head()

   PM10  PM2.5    SO2    CO      O3    NO2  PredDanger
0    81   27.0   D.I.  1.53  0.0826  0.031           0
1   106   27.0  0.012  1.35  0.0758  0.033           0
2   110   27.0   D.I.  1.48  0.0816   D.I.           0
3   107   27.0   D.I.  2.06  0.0949   D.I.           0
4   109   29.0  0.008  2.68  0.0934  0.027           0

In [ ]:
data["SO2"]= data["SO2"].replace(['D.I.','N.D.'],[0.007,0.006])
data['SO2'].fillna(0.009, inplace = True)
data.tail()

    PM10  PM2.5    SO2   CO      O3  NO2  PredDanger
12    92   25.0  0.006  NaN  0.0844  NaN           0
13    82   27.0  0.006  NaN  0.0931  NaN           0
14    88   27.0  0.008  NaN  0.0970  NaN           0
15    84   26.0  0.009  NaN     NaN  NaN           0
16    75   27.0  0.009  NaN     NaN  NaN           0

In [ ]:
data["CO"]= data["CO"].replace(['N.D.'],[1.37])
data['CO'].fillna(random.random()+ 1, inplace = True)
data.tail()

    PM10  PM2.5    SO2        CO      O3  NO2  PredDanger
12    92   25.0  0.006  1.093103  0.0844  NaN           0
13    82   27.0  0.006  1.093103  0.0931  NaN           0
14    88   27.0  0.008  1.093103  0.0970  NaN           0
15    84   26.0  0.009  1.093103     NaN  NaN           0
16    75   27.0  0.009  1.093103     NaN  NaN           0

In [ ]:
data['O3'].fillna(0.090, inplace = True)
data.tail()

    PM10  PM2.5    SO2        CO      O3  NO2  PredDanger
12    92   25.0  0.006  1.093103  0.0844  NaN           0
13    82   27.0  0.006  1.093103  0.0931  NaN           0
14    88   27.0  0.008  1.093103  0.0970  NaN           0
15    84   26.0  0.009  1.093103  0.0900  NaN           0
16    75   27.0  0.009  1.093103  0.0900  NaN           0

In [ ]:
data["NO2"]= data["NO2"].replace(['D.I.','N.D.'],[0.030,0.035])
data['NO2'].fillna(0.033, inplace = True)
data.tail()

    PM10  PM2.5    SO2        CO      O3    NO2  PredDanger
12    92   25.0  0.006  1.093103  0.0844  0.033           0
13    82   27.0  0.006  1.093103  0.0931  0.033           0
14    88   27.0  0.008  1.093103  0.0970  0.033           0
15    84   26.0  0.009  1.093103  0.0900  0.033           0
16    75   27.0  0.009  1.093103  0.0900  0.033           0

Se buscrá predecir si en los siguientes años, los niveles de contaminantes llegan a niveles que puedan ser dañinos para las personas en el Area Metropolitana de Monterrey

Se usará la columna "PredDanger" como variable predictora dependiente, y sus valores se basarán en si los niveles de los otros contaminantes llegan a un nivel peligroso para poder salir afuera. 

En este caso, se definirá como "peligroso" cuando el nivel de PM10 sea mayor o igual a 100 o cuando el intervalo de O3, NO2, SO2 y CO sean mayores o iguales a 0.071, 0.211, 0.111 y 11 respectivamente (Esto, con base en los datos proporcionados por AIRE NL)

In [ ]:
data.loc[data.PM10>=100,'PredDanger']=1
data.head(20)

    PM10  PM2.5      SO2        CO      O3    NO2  PredDanger
0     81   27.0    0.007      1.53  0.0826  0.031           0
1    106   27.0    0.012      1.35  0.0758  0.033           1
2    110   27.0    0.007      1.48  0.0816   0.03           1
3    107   27.0    0.007      2.06  0.0949   0.03           1
4    109   29.0    0.008      2.68  0.0934  0.027           1
5    117   37.0    0.007      1.84  0.0911  0.034           1
6    124   27.0    0.006      2.02  0.0934  0.037           1
7     99   30.0    0.005      1.52  0.0856  0.038           0
8    100   29.0  0.00558      1.64  0.0995  0.035           1
9     88   16.0    0.005      1.23  0.0846  0.032           0
10   100   22.0    0.006      1.37  0.0982  0.035           1
11   111   31.0    0.006      1.37  0.1010  0.035           1
12    92   25.0    0.006  1.093103  0.0844  0.033           0
13    82   27.0    0.006  1.093103  0.0931  0.033           0
14    88   27.0    0.008  1.093103  0.0970  0.033           0
15    84   26.0    0.009  1.093103  0.0900  0.033           0
16    75   27.0    0.009  1.093103  0.0900  0.033           0

In [ ]:
data["CO"].unique()

array(['1.53', '1.35', '1.48', '2.06', '2.68', '1.84', '2.02', '1.52',
       '1.64', '1.23', 1.37, 1.093102764941805], dtype=object)

In [ ]:
data['CO'] = pd.to_numeric(data['CO'])
data['O3'] = pd.to_numeric(data['O3'])
data['NO2'] = pd.to_numeric(data['NO2'])
data['SO2'] = pd.to_numeric(data['SO2'])

In [ ]:
data.loc[data.O3>=0.71,'PredDanger']=1

In [ ]:
data.loc[data.NO2>=0.211,'PredDanger']=1

In [ ]:
data.loc[data.CO>=11,'PredDanger']=1

In [ ]:
data.loc[data.SO2>=0.111,'PredDanger']=1

In [ ]:
data

    PM10  PM2.5      SO2        CO      O3    NO2  PredDanger
0     81   27.0  0.00700  1.530000  0.0826  0.031           0
1    106   27.0  0.01200  1.350000  0.0758  0.033           1
2    110   27.0  0.00700  1.480000  0.0816  0.030           1
3    107   27.0  0.00700  2.060000  0.0949  0.030           1
4    109   29.0  0.00800  2.680000  0.0934  0.027           1
5    117   37.0  0.00700  1.840000  0.0911  0.034           1
6    124   27.0  0.00600  2.020000  0.0934  0.037           1
7     99   30.0  0.00500  1.520000  0.0856  0.038           0
8    100   29.0  0.00558  1.640000  0.0995  0.035           1
9     88   16.0  0.00500  1.230000  0.0846  0.032           0
10   100   22.0  0.00600  1.370000  0.0982  0.035           1
11   111   31.0  0.00600  1.370000  0.1010  0.035           1
12    92   25.0  0.00600  1.093103  0.0844  0.033           0
13    82   27.0  0.00600  1.093103  0.0931  0.033           0
14    88   27.0  0.00800  1.093103  0.0970  0.033           0
15    84   26.0  0.00900  1.093103  0.0900  0.033           0
16    75   27.0  0.00900  1.093103  0.0900  0.033           0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, plot_confusion_matrix, classification_report, precision_score

In [ ]:
X = data.drop("PredDanger",axis=1)
y = data["PredDanger"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
dt = RandomForestClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

In [ ]:
accuracy = accuracy_score(
            y_true    = y_test, 
            y_pred    = y_pred, 
            normalize = True)
print(f"Modelo RandomForestClassifier")
print("")
print(f"Test size: 0.2")
print("")
print(f"El accuracy test del modelo RandomForestClassifier: {100*accuracy}%")

precision = precision_score(
            y_true    = y_test,
            y_pred    = y_pred,
            average = "micro"
           )
print("")
print(f"El test de precisón es de: {100*precision}%")
print("")
cf = confusion_matrix(
            y_true    = y_test,
            y_pred    = y_pred,
            normalize = "true")
sensitivityTP = cf[0,0]/(cf[0,0]+cf[0,1])
print('Sensitividad',sensitivityTP)
specificity = cf[1,1]/(cf[1,0]+cf[1,1])
print("")
print('Especificidad',specificity)

Modelo RandomForestClassifier

Test size: 0.2

El accuracy test del modelo RandomForestClassifier: 100.0%

El test de precisón es de: 100.0%

Sensitividad 1.0

Especificidad 1.0

In [ ]:
y_pred

array([0, 1, 1, 1])